body{
    margin: 0;
}

.topdiv{
    background-color: white;
    top:0;
    position: relative;
    padding: 1% 0 1% 0;
    box-shadow: 0 0 25px 0 #4d4d4d;
}

#edge-desc{
    line-height: 0.5;
    float: right;
    position: absolute;
    margin-left: 2%;
    display: inline-block;
    margin-top: 0.5%;
}

.topbar-btns{
    display: inline;
    float: right;
    padding: 0 7% 0 1%;
}

.navbar{
    margin-left: 5.5%;
}

.navbar-nav > li{
    display: inline-block;
    margin: 0 3% 0 3%;
    font-size: 0.8rem;
    white-space: nowrap;  /*to make text not occupy second line*/
}

.navbar-nav > li > a{
    color: black;
    text-decoration: none;
}

.navbar-nav > li > a:hover{
    text-decoration: underline;
}

.navbar-brand{
    color:gray;
    font-weight: 4rem;
    margin-left: 0.5%;
}

.navbar-toggler-icon{
    color:black;
}

.carousel{
    margin: 0 5.5%;
}

.floating-on-img1{
    position: absolute;
    top: 40%;
    left: 12%;
    color: white;
}

.floating-on-img1 .btn, .floating-on-img2 .btn, .floating-on-img3 .btn{
    border-radius: 0;
}

.floating-on-img2{
    position: absolute;
    top: 40%;
    left: 12%;
    color: black;
}

.wrapper1{
    display: grid;
    grid-template-columns: 21% 10% 10% 10% 10% 21%;
    grid-column-gap: 3%;
    margin-top: 6%;
    margin-bottom: 5%;
}

.grid-item{
    text-align: center;
}
.grid-item a{
    text-decoration: none;
    color: black;
    font-weight: 600;;
}

.products{
    margin: 0 5% 5% 5%;
    padding: 1%;
}

.products img{
    width: 95%;
    margin-bottom: 12%;
}

.products .col{
    cursor: pointer;
}

.onedrive img{
    margin: 0 5.5% 5.5% 5%;
    width: 88%;
    z-index: -1;
}

.floating-on-img3{
    position: absolute;
    top:225%;
    left: 10%;
    color: black;
}

.forbusiness, .covid, .socialmedia{
    margin: 0 5% 5% 5%;
}

.forbusiness img{
    width: 95%;
    margin-bottom: 12%;
}

.covid{
    text-align: center;
    background-color: rgb(214, 214, 214);
    padding: 1% 0 1%;
}

.covid a{
    text-decoration: none;
    color: black;
}

.socialmedia a{
    margin: 0.5% 0.5%;
    justify-items: center;
}

.fa-facebook-square{
    color: blue;
}

.fa-youtube{
    color: red;
}

.footer{
    margin-right: 0;
    background-color: rgb(214, 214, 214);    
}

.footer .row .col{
    display: inline;
    line-height: 2.5;
    margin:3%;
    width: fit-content;
}

.footer .row{
    width: 100%;
}

.footer .row .col a{
    display: block;
    color: black;
    text-decoration: none;
    font-size: small;
}

.footer .row .col a:hover{
    text-decoration: underline;
}

.details{
    margin: 1.5% 5% 1%;
    width:fit-content;
}

.details .lang{
    display: inline-block;
}

.details .contact{
    display: inline-block;
    position: absolute;
    right: 6%;
    white-space: nowrap;
}

.details .contact a, .details .contact p{
    display: inline;
    text-decoration: none;
    color: gray;
    margin: 1% 0.5%;
    font-size: small;
}

.details .contact a:hover{
    text-decoration: underline;
}

.details .lang a{
    text-decoration: none;
    color: gray;
}

.details .lang a:hover{
    text-decoration: underline;
}